# Omar Farooq

In [12]:
import numpy as np
import pandas as pd

In [13]:
Data = {'X':[2.5,0.5,2.2,1.9,3.1,2.3,2,1,1.5,1.2],'y':[2.4,0.7,2.9,2.2,3.0,2.7,1.6,1.1,1.6,0.9]}
#Data = {'X1':[1,1,3],'X2':[1,-1,3], 'X3':[-1,1,3], 'X4':[-1,-1,3]}
df = pd.DataFrame(Data)
col = df.columns
df = df.T

In [17]:
Data = {'X1':[5,2,5],'X2':[1,4,4]}
df = pd.DataFrame(Data)
col = df.columns
# df = df.T
df

   X1  X2
0   5   1
1   2   4
2   5   4

In [18]:
mu = df.mean(axis=0)
df_mean = pd.DataFrame(0, index=np.arange(len(df)), columns=col)
df_mean

   X1  X2
0   0   0
1   0   0
2   0   0

In [19]:
mu

X1    4.0
X2    3.0
dtype: float64

In [20]:
df['X1'][1]

2

In [7]:
for i in range(df.shape[0]):
    for j in col:
        df_mean[j][i]=df[j][i] - mu[j]

df_mean

   X1  X2
0   1  -2
1  -2   1
2   1   1

In [8]:
df_cov = df_mean.cov()
df_cov

     X1   X2
X1  3.0 -1.5
X2 -1.5  3.0

In [9]:
eigenval, eigenvect = np.linalg.eig(df_cov)
eigenval

array([4.5, 1.5])

In [10]:
eigenvect

array([[ 0.70710678,  0.70710678],
       [-0.70710678,  0.70710678]])

In [11]:
eigval_sort_idx = np.argsort(eigenval) #.to_numpy()

In [41]:
eigenvect[:, eigval_sort_idx[1:]]

array([[ 0.70710678],
       [-0.70710678]])

In [42]:
feature_vector = eigenvect[:, eigval_sort_idx[1:]]

In [43]:
row_feature_vector = feature_vector.T

row_data_adjust = df_mean.T

df_reduced = np.matmul(row_feature_vector, row_data_adjust.to_numpy())

In [44]:
#get the row data
row_data_adjust = np.matmul(row_feature_vector.T, df_reduced)

In [45]:
#revert to dataframe
row_data_adjust_df = pd.DataFrame(row_data_adjust.T, columns=['X', 'Y'])

In [46]:
#add the mean to each column
original_data = row_data_adjust_df + df_mean

In [47]:
df.head(10)

   X1  X2
0   5   1
1   2   4
2   5   4

# End